.screen-background {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background: $c-dark;
  z-index: 1;
  transform: scaleY(0);
  transform-origin: bottom;

  &--active {
    transition: transform 0.3s linear;
    transform: scaleY(100%);
  }
}
