@keyframes scaleIn {
  to {
    transform: scale(1);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes textTransform {
  to {
    transform: translateX(0);
  }
}
